body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
h1{
    font-size: 40px;
}
h2
{
    font-size: 30px;
}
.description
{
    color:dimgray;
    width:85%
}
.fulltitle
{
    margin-left: 5%;
    margin-right: 3%;
    width: 40%;
    float:left;
    padding: 10px;
    
}
#wel
{
    margin-top: 2%;
}

.title
{
    color: rgb(0, 197, 76);
}
#profile1
{
    width: 32%;
    float: left;
}
.dream
{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.subtitle
{
    color:rgb(8, 151, 8);
}
.top-banner
{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section
{
    height: 400px;
}
.box
{
    box-shadow: 10px 10px 40px rgb(8, 151, 8);
    border-radius: 10px;
    height: 60%;
    width: 40%;
  
}
.experience
{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-color:seashell;
}
.middle
{
    text-align: center;
    color:darkviolet;
    padding-top: 2%;
    border-radius: 10px;
    width: 100%;
    text-shadow: dimgray;
}
#full-stack
{
    border-left: 3px solid red;
    border-right: 3px solid red;
}
#baby
{
    border-left: 3px solid blue;
    border-right: 3px solid blue;
}
.pad
{
    padding-left:5px;
}
.link-button
{
    font-size: 27px;
    text-decoration: none;
    color: seashell;
    background-color: springgreen;
    padding:2px 20px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, rgb(251, 255, 7),yellow;
    border-image-slice: 1;
    
}




